/SmartTasks.FULL/Backend/bin
/SmartTasks.FULL/Backend/obj
/SmartTasks.FULL/Frontend/node_modules
/SmartTasks.FULL/Frontend/src/app/dist/out
/SmartTasks.FULL/.ionide
/SmartTasks.FULL/.vscode
/SmartTasks.FULL/coverage
/SmartTasks.FULL/Backend/.vscode
/SmartTasks.FULL/Backend/coverage
/SmartTasks.Backend/Backend/bin
/SmartTasks.Backend/Backend/obj
/SmartTasks.Backend/Frontend/node_modules
/SmartTasks.Backend/Frontend/src/app/dist/out
/SmartTasks.Frontend/node_modules
/SmartTasks.Frontend/src/app/dist/out
/SmartTasks.Backend/.ionide
/SmartTasks.Backend/.vscode
/SmartTasks.Backend/coverage
/SmartTasks.Backend/Backend/.vscode
/SmartTasks.Backend/Backend/coverage
/.vscode
/coverage