/SmartTasks.FULL/Backend/bin
/SmartTasks.FULL/Backend/obj
/SmartTasks.FULL/Frontend/node_modules
/SmartTasks.FULL/Frontend/src/app/dist/out
/SmartTasks.FULL/.ionide
/SmartTasks.FULL/.vscode
/SmartTasks.FULL/coverage
/SmartTasks.FULL/Backend/.vscode
/SmartTasks.FULL/Backend/coverage
/SmartTasks.LIGHT/Backend/bin
/SmartTasks.LIGHT/Backend/obj
/SmartTasks.LIGHT/Frontend/node_modules
/SmartTasks.LIGHT/Frontend/src/app/dist/out
/SmartTasks.LIGHT/.ionide
/SmartTasks.LIGHT/.vscode
/SmartTasks.LIGHT/coverage
/SmartTasks.LIGHT/Backend/.vscode
/SmartTasks.LIGHT/Backend/coverage